<div class="row">
	<div class="col-lg-6 col-lg-offset-3">
		{{partial 'partials/todo-form'}}
		<div class="row">
			<div class="col-xs-10">
				<h2><b>To Dos</b></h2>
				<ul id="todos">
					{{#each todo in model itemController='todo'}}
						<li>
							{{#if todo.isEditing}}
								{{partial 'partials/edit-todo'}}
							{{else}}
							<h4 {{bind-attr class="todo.completed:strike"}}>
								{{input type="checkbox" checked=todo.completed class="toggle"}}
								{{todo.model.task}}
								<div class="actions">
									<a {{action 'editTodo'}} href class="edit-todo">
										<span class="glyphicon glyphicon-pencil"></span>
									</a>
									<a {{action 'removeTodo' todo}} href class="remove-todo">
										<span class="glyphicon glyphicon-remove"></span>
									</a>
								</div>
							</h4>
							{{/if}}
						</li>
					{{/each}}
				</ul>
			</div>
		</div>
	</div>
</div>
